:root {
    --primary-color: #E61054;
    --secondary-color: #F3F561;
    --third-color: #0AF4F5;
    --grey: #E5E1FA;
    --white: #ffffff;
    --submit : #FF8D03;
    --submit-hover : #ff9900;
    --black : #1a1818;
}